.container
    display: flex
    flex-direction: row
    justify-content: center
    align-items: center
    overflow: hidden
    margin-bottom: 5px
.imgC
    width: 100%
    height: auto
    opacity: 0
    transition: 1s
    &.loaded
        opacity: 1

.ant,.sig
    position: absolute
    z-index: 1
    background: none
    transform: translateY(-50%)
    color: black
    width: 40px
    height: 40px
    display: flex
    text-align: center
    justify-content: center
    align-items: center
    border-color: transparent
    border-radius: 50%
    font-size: 40px
    cursor: pointer
    transition: all 0.3s linear
    opacity: 0.6
    font-weight: bold
.ant:hover,
.sig:hover

    opacity: 1
.ant

    left: 10px
.sig
    right: 10px

@media (max-width: 800px)
    .ant,.sig
        width: 2rem
        height: 2rem
        font-size: 1.5rem
