.social-footer
    padding: 1rem
    background: #F37335
    display: -webkit-flex
    display: -ms-flexbox
    display: flex
    -webkit-align-items: center
    -ms-flex-align: center
    align-items: center
    -webkit-justify-content: space-between
    -ms-flex-pack: justify
    justify-content: space-between

ul, li
    list-style: none

.social-footer .social-footer-icons li:last-of-type
    margin-right: 0

.Rrss
    font-size: 1.3rem
    color: #fefefe

.Rrss:hover
    color: #4a4a4a
    transition: color 0.3s ease-in

.menu-simple
    display: flex
    flex-direction: row
    align-items: center

.logo
    filter: invert(1)

.copy
    color: white
