.NavBar 
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    z-index: 100
    align-items: center

.NavContainerLink
    display: flex
    gap: 3px


.NavContainerLink a
    color: inherit
    text-decoration: none
    
.CarouselContainer
    width: 100%
    height: 60vh
    display: flex
    position: relative
    overflow: hidden
    background-color: rgba(217, 223, 255, 0.6)

.ArrowLeft
    


.ArrowRight
