.NavBar 
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    z-index: 100
    align-items: center

.NavContainerLink
    display: flex
    gap: 3px


.NavContainerLink a
    color: inherit
    text-decoration: none
    